.total-wrapper {
    display: flex;
    flex-direction: row;
    color: #DF7861;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}


.canvas-wrapper {
    display: flex;
    flex-direction: row;
    color: #DF7861;
    align-items: center;
    justify-content: center;
    flex-grow: 0.6;
    height: 500px;
}



canvas {
    width: 450px;
    height: 450px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    margin: 30px;
    border-color: #DF7861;
}

.clear-canvas {
    width: 150px;
    height: 50px;
    background-color: #DF7861;
    border-radius: 10px;
    color: #FCF8E8;
    border: #FCF8E8;
    
}

.data-button {
    width: 150px;
    height: 50px;
    background-color: #94B49F;
    border-radius: 10px;
    color: #FCF8E8;
    border: #FCF8E8;
}

.inputs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    background-color: #FCF8E8;
    font-weight: bold;
    border-radius: 10px;
    height: 100%
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    border-radius: 10px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #DF7861; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.color-selector {
    background-color: #FCF8E8;
    width: 30px;
    height: 30px;
    border: 0px;
    
}

.results-wrapper {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    color: #DF7861;
    align-items: center;
    justify-content: center;
    flex-grow: 0.6;
    height: 500px;

}

.image-box {
    width: 40px;
    height: 40px;
    border: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}