/* Default styles for the browser */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Mochiy Pop P One';
}

body {
    background-color: #ECB390;
    align-items: center;
    /* display: flex; */
}

