@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.node {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.node-container {
    position: relative;
}

.node-container * {
    position: absolute;
    top: 0px;
    left: 0px;
}

.node-contents {
    z-index: 2;

    white-space: nowrap;
    color: white;
}