

.mytabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0px 0px 0px;
    color: #DF7861;
    /* padding: 25px; */
}
.mytabs input[type="radio"] {
    display: none;
}
.tablabel {
    padding: 10px;
    width: 80px;
    height: 20px;
    text-align: center;
    background: #e2e2e2;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}

.mytabs .tab {
    width: 100%;
    min-height: 500px;
    padding: 20px;
    background: #FCF8E8;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 24px;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #FCF8E8;
}